@use "../../global" as v;

// コース案内セクション
.p-course {
  background-color: v.$light-blue;
}

.p-course__wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.p-course__title {

}

.p-course__title-en {
  text-transform: uppercase;
}

.p-course__title-ja {

}

.p-course__tab-wrap {
  position: relative;
  width: min(100%, 880px);
  margin-inline: auto;

  &::after {
    content: '';
    position: absolute;
    width: 122px;
    height: auto;
    aspect-ratio: 122 / 167;
    background: url("../img/common/course-icon.svg") right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 100%;
  }
}

.p-course__tablist {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.p-course__tab {
  color: v.$text-form;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.8px;
  padding: 10px;
  background: v.$gray-bg;

  &:nth-of-type(1) {
    border-radius: 10px 0 0 0;
  }

  &:nth-of-type(2) {
    border-radius: 0 10px 0 0;
  }

  &[aria-selected="true"] {
    color: v.$main-color;
    border-radius: 10px 10px 0 0;
    padding-block: 20px;
    background: v.$white;
    pointer-events: none;
  }

  &[aria-selected="false"] {
    margin-block-start: 9px;
    transition: opacity 0.3s ease;

    @media(any-hover: hover) {
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
}

.p-course__contents {
}

.p-course__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background: v.$white;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 0;

  &.js-show {
    padding: 40px 148px;
    opacity: 1;
    visibility: visible;
    height: fit-content;
  }
}

.p-course__content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p-course__content-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p-course__content-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.1px;
}

.p-course__content-text {
  line-height: 160%;
letter-spacing: 0.8px;
}

.p-course__content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 54px;
  border-radius: 10px;
  border: 2px solid v.$main-color;
  background-color: v.$main-color;
  color: v.$white;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.48px;
  white-space: nowrap;
  transition: all 0.3s ease;

  &::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url("../img/contact/contact-arrow.svg") no-repeat center / contain;
  }

    @media (any-hover: hover) {
    &:hover {
      border: 2px solid v.$main-color;
      background-color: v.$white;
      color: v.$main-color;
    }

    &:hover::after {
      background: url("../img/contact/contact-arrow-blue.svg") no-repeat center / contain;
    }
  }
}

//初期設定==================
button {
  background: none;
}

:where(dialog) {
  width: unset;
  max-width: unset;
  // height: unset;
  // max-height: unset;
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
  overflow: unset;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.wrapper:has(dialog[open]) {
  overflow-y: auto;
  scrollbar-gutter: stable; //スクロールバーのスペースを常に確保する
}
//ボタンのスタイル ============
.modal__open-btn {
}
//モーダルのスタイル ============
dialog {
  &::backdrop {
    opacity: 0;
    transition: opacity .3s ease-in-out, background .3s ease-in-out;
  }
  &.js-show {
    &.p-course-modal {
      opacity: 1;
    }
    &::backdrop {
      opacity: 0.9;
      //背景画像
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), #ECF6F9;
    }
  }
}

.p-course-modal {
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  //モーダル枠組みのスタイル
  width: min(905px, 95%);
  height: min(80vh, 560px);
  background: v.$white;
  border-radius: 30px;
}

.p-course-modal__inner {
  overflow-y: scroll;
  height: inherit;
  max-height: inherit;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.p-course-modal__content {
  height: fit-content;
  padding: 80px 120px 106px;
}

.p-course-modal__list {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.p-course-modal__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p-course-modal__head {
  display: flex;
  gap: 20px;
  align-items: center;
}

.p-course-modal__head-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.1px;
}

.p-course-modal__head-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.8px;
}

.p-course-modal__body-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.p-course-modal__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p-course-modal__body-title {
  border-radius: 4px;
  background: v.$main-color;
  color: v.$white;
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.8px;
  padding-block: 4px;
  text-align: center;
}

.p-course-modal__body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.8px;
}

//閉じるボタンのスタイル =========
.p-course-modal__close-button {
  position: absolute;
  z-index: 2;
  top: 36px;
  right: 36px;
  font-size: 20px;
  color: v.$white;
  width: 40px;
  height: 40px;
  background: v.$text-main;
  border-radius: 50%;
  display: grid;
  place-items: center;
  line-height: 1;

  @media(any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

