@use "../../global" as v;

.p-cta2 {
    position: relative;
    overflow: hidden;
    padding-block: 120px;
    @media (max-width: 1000px){
        min-height: 570px;
        padding-block-start: 80px;
        padding-block-end: 40px;
    }
}
.p-cta2__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    height: 100%; 
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

.p-cta2__inner {
    width: 100%;
    max-width: 960px;
    padding-inline: 40px;
    text-align: center;
    margin-inline: auto;
    @media (max-width: 1000px){
        max-width: 367px;
        padding-inline: 16px;    
    }
}
.p-cta2__box {
    position: relative;
    z-index: 1;
    background-color:v.$gray-bg;
    height: 275px;
    border-radius: 20px;
    padding-block: 40px;
    @media (max-width: 1000px){
        height: 410px;
        padding-inline: 20px;
    }
}
.p-cta2__title {
    position: relative;
    z-index: 1;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    @media (max-width: 1000px){
        font-size: 26px;
    }
}

.p-cta2__mail {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 52px;
    margin-top: 5px;
    @media (max-width: 1000px){
        max-width: 303px;
        margin-top: 26px;
        margin-inline: auto;
    }

}
.p-cta2__group {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 26px;
    @media (max-width: 1000px){
        display: block;
        margin-top: 15px;
    }
}
.p-cta2__tel {
    position: relative;
    z-index: 1;
    max-width: 281px;
    width: 100%;
    height: auto;
}
.p-cta2__text {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.05em;
    padding-inline: 31px;
    @media (max-width: 1000px){
        font-size: 15px;
        padding-inline: 26px;
    }
}

.parallax2 picture,
.parallax2 img {
    width: 100%;
    height: 100%;
}

.parallax2 {
    width: 120%;
    height: auto;
    aspect-ratio: 1240 / 613;
    overflow: hidden;
    @media (max-width: 1000px){
        aspect-ratio: 375 / 570;
    }

    img {
        width: 100%;
        height: calc(100% + 150px);
        object-fit: cover;
    }
}

.p-cta-br {
	display: none;

	@media (max-width: 1000px){
		display: block;
	}
}