@use "../../global" as v;

// よくある質問セクション
.p-faq {
    background-color: v.$gray-bg;
    padding-block: 120px;
    position: relative;

    &:before {
        content: "";
        display: none;
        @media (max-width: 1179px) {
        display: block;
        position: absolute;
        content: "";
        top: 8%;
        right: 2%;
        width: clamp(70px, 9.5vw, 137px);
        height: clamp(80px, 8.6vw, 153px);
        background: url("/assets/img/faq/faq-icon.svg") no-repeat center / contain;
        transform: translate(-100%, 50%);
        }
        @media (max-width: 768px) {
        top: 50px;
        right: -46px;
        transform: translate(-100%, 50%);
        width: 77px;
        height: 86px;
        }
    }
    @media (max-width: 1000px) {
        padding-block: 80px;
        padding-block-start: 104px;
    }
}

.c-section-title.p-faq-title--left {
    @media (max-width: 1000px) {
    text-align: left;
    align-items: start;
    }
}
.accordion-sec {
    margin-block-start: 60px;
}


summary {
    display: block;
    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }

    @media(any-hover: hover) {
        &:hover {
            cursor: pointer;
        }
    }
}

.p-faq__items {
    position: relative;
    border-radius: 10px;
    margin-block-start: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -2%;
        width: clamp(70px, 8.5vw, 137px);
        height: clamp(80px, 9.6vw, 153px);
        background: url("/assets/img/faq/faq-icon.svg") no-repeat center / contain;
        transform: translate(100%, 0);

        @media (max-width: 1180px) {
        display: none;
    }
    }
}


.p-faq__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.05em;
    text-align: left;
    transition: .4s;
    transform: rotate(0deg);
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 1000px) {
        font-size: 16px;
        padding-inline: 0;
    }
}

.p-faq__item:hover {
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.p-faq__item.js-details[open] {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.05em;
    text-align: left;
    transition: .4s;
    transform: rotate(0deg);
    border-radius: 10px;

    @media (max-width: 1000px) {
        font-size: 16px;
        padding-inline: 0;
    }
}

.p-faq__question {
    padding-left: 24px;
    padding-right: 34px;
    padding-block: 19.5px;
    position: relative;
    border-radius: 10px;
    background-color: v.$white;

    @media (max-width: 1000px) {
        padding-block: 16px;
        padding-inline: 8px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        translate: 0;
        right: 26px;
        width: 16px;
        height: 2px;
        text-align: center;
        transition: transform 0.3s ease;
        background: v.$main-color;

        @media (max-width: 1000px) {
            width: 16px;
            height: 2px;
            right: 16px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        translate: 0;
        right: 33px;
        width: 2px;
        height: 16px;
        text-align: center;
        background: v.$main-color;
        transition: transform 0.3s ease;

        @media (max-width: 1000px) {
            width: 2px;
            height: 16px;
            right: 23px;
        }
    }
}

.js-details.is-opened .p-faq__question::before {
    transform: translateY(-50%) rotate(90deg);
}

details[open] .p-faq__question::after {
    rotate: 0deg;
}

.p-faq__question-text {
    list-style: none;
    position: relative;
    padding-inline: 62px 24px;
    padding-block-start: 2px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.05em;

    @media (max-width: 1000px) {
        padding-inline: 58px 36px;
    }

    &::before {
        content: 'Q';
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        left: 0;
        font-size: 16px;
        font-family: v.$font-en;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.05em;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$main-color;
        color: v.$white;

        @media (max-width: 1000px) {
            translate: 0 0;
            top: 2px;
            left: 8px;
        }
    }
}

.p-faq__answer-text {
    padding-right: 28px;
    padding-left: 26px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.049em;
    text-align: left;
    position: relative;

    @media (max-width: 1000px) {
        font-size: 15px;
        padding-left: 32px;
        padding-right: 16px;
    }

    &::before {
        content: 'A';
        position: absolute;
        top: 25%;
        translate: 0 -50%;
        left: -35px;
        font-size: 16px;
        font-family: v.$font-en;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.05em;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$accent-yellow;
        color: v.$white;

        @media (max-width: 1000px) {
            top: -2px;
            translate: -50% 0%;
            left: 3px;
        }
    }
}

.p-faq__answer {
    padding-block-start: 22px;
    padding-left: 60px;
    background-color: v.$gray-bg;

    @media (max-width: 1000px) {
        padding-left: 30px;
    }
}

.js-summary {
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
}
