$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Montserrat", sans-serif;

$white: #ffffff;
$main-color: #66b1c5;
$light-blue: #ecf6f9;
$gray-bg: #f7f7f7;
$text-main: #274b66;
$text-form: #b4adad;
$accent-red: #dc5d5c;
$accent-yellow: #e9c243;
